<mat-toolbar class="class5">
    <label color="primary">Servicecenters List</label>
    <input type="text" [(ngModel)]='searchText' placeholder="Search" class="class4" >
  </mat-toolbar>
  <br>
  <div class="container" text-align="center">
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>action</th>
      </tr>
  
      <tr *ngFor="let servicecenter of servicecenters | servicecenterFilter:searchText">
        <td style="text-align:center">{{ servicecenter.id }}</td>
        <td style="text-align:center">{{ servicecenter.name }}</td>
        <td style="text-align:center">{{ servicecenter.email }}</td>
        <td style="text-align:center">
          <button
            mat-raised-button
            (click)="selectedServicecenter(servicecenter.id)"
            class="class1"
          >
            View
          </button>
          <button
            mat-raised-button
            (click)="openDialog()"
            class="class1"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>