<mat-toolbar class="toolbar">
  <h2 class="list"> Service Center List </h2>

  <mat-form-field fxFlex="40%">
    <mat-label style="font-size: 15px;color: rgb(39, 0, 0)"> Search </mat-label>
   <input matInput type="text" (keyup)="doFilter($event)"
    >
 </mat-form-field>

 <!-- <input type="text" [(ngModel)]='searchText' placeholder="Search"
  style="height: 20px;" > -->

</mat-toolbar>

<div style="display: flex;
justify-content: flex-end;width: 90%; margin: 0 auto;">
 <button (click)="createServiceCenter()" mat-button color="primary">
   Create Service Center
   <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


 <ng-container
  class="header" matColumnDef="MOBILE">
   <th mat-header-cell *matHeaderCellDef> MOBILE </th>
   <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
 </ng-container>

 <ng-container matColumnDef="Name">
   <th mat-header-cell *matHeaderCellDef> Name </th>
   <td mat-cell *matCellDef="let element" > {{element.userName}} </td>
 </ng-container>



 <ng-container matColumnDef="Action">
   <th mat-header-cell *matHeaderCellDef> Action </th>
   <td mat-cell *matCellDef="let element">
     <button (click)="selectedServiceCenter(element.userId)" matTooltip="View page"  mat-icon-button color="primary"> <mat-icon>bookmark</mat-icon> </button>
     <button (click)="openDialog(element._id)" matTooltip="Delete service center"  mat-icon-button color="warn"> <mat-icon>delete</mat-icon> </button>
   </td>
 </ng-container>



 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

