<div class="data">

  <div style="text-align: center">
    <h2 *ngIf="!mechanic" style="color: rgb(39, 0, 0)">Create Mechanic</h2>
    <h2 *ngIf="mechanic" style="color: rgb(39, 0, 0)">Update Mechanic</h2>
  </div>

  <div class="form">
    <form [formGroup]="mechanicForm" (submit)="onSubmitMechanicData()">
      <mat-card>

        <app-form-input
          label="Email"
          [value]="mechanic?.email"
          [controler]="mechanicForm.get('email')"
        ></app-form-input>

        <app-form-input *ngIf="!mechanic"
          label="Password"
          [controler]="mechanicForm.get('password')"
        ></app-form-input>

        <app-form-input
        [value]="mechanic?.name"
          label="Name"
          [controler]="mechanicForm.get('name')"
        ></app-form-input>

        <app-form-input
        [value]="mechanic?.nic"
          label="NIC"
          [controler]="mechanicForm.get('nic')"
        ></app-form-input>

        <app-form-input
        [value]="mechanic?.mobile"
          label="Mobile"
          [controler]="mechanicForm.get('mobile')"
        ></app-form-input>

        <app-form-input
          label="Address"
          [value]="mechanic?.address"
          [controler]="mechanicForm.get('address')"
        ></app-form-input>

        <app-form-input
          label="About"
          [value]="mechanic?.about"
          [controler]="mechanicForm.get('about')"
        ></app-form-input>

        <input type="file" #image (change)="onImageChange($event)" />
        <div *ngIf="!mechanic" style="text-align: start">
          <button (click)="image.click()" mat-stroked-button type="button">
            Image
          </button>
        </div>

        <div
          class="image-preview"
          *ngIf="imagePreview != '' && imagePreview != null"
        >
          <img [src]="imagePreview" alt="image preview" />
        </div>
        <div style="text-align: end">
          <button
            style="background-color: rgb(39, 0, 0); color: white"
            mat-raised-button
          >
            Save
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</div>
