
<div class="login__page">

    <div class="login__card" matInput style="height: 70%;">
      <br><br>
      <label style="font-size: 50px;"><b> Panel Login</b></label>
  <br><br>
      <mat-form-field>
  
        <label><h1><b>User Name:</b></h1></label>
        <input type="text"  matInput style="width: 90%; height: 30px;">
      </mat-form-field>
  
  
      <mat-form-field>
        <label><h1><b>Password:</b></h1></label>
        <input type="password" matInput style="width: 90%; height: 30px;">
  
      </mat-form-field>
  
      <div style="width: 90%; margin: auto;text-align: end;">
        <button (click)="login()"
          mat-raised-button style="background-color: rgb(39, 0, 0); color: #fff">Enter</button>
      </div>
  
    </div>
  </div>
  