<div class="col class2">
  <img class="class7" src="{{servicecenter?.image}}">
</div>
<div class="col class3">
  <mat-toolbar class="class1">
    <mat-toolbar-row>{{servicecenter?.name}} profile</mat-toolbar-row>
  </mat-toolbar>
  <mat-list>
    <div class="col class5">
      <mat-list-item>Name:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Email:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Mobile Number:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Address:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Open Time:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Close Time:</mat-list-item>
      <mat-divider></mat-divider>
    </div>
    <div class="col class6">
    <mat-list-item>{{servicecenter?.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{servicecenter?.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{servicecenter?.mobile}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{servicecenter?.address}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item >{{servicecenter?.openTime}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{servicecenter?.closeTime}}</mat-list-item>
    <mat-divider></mat-divider>

    <div class="bottom__panel">
      <button mat-raised-button (click)="updateService(servicecenter?._id)"
       class="class8">Update Service Center</button>
      <button mat-raised-button class="class8" routerLink="/service">
        Service Center List
      </button>
    </div>

    </div>
  </mat-list>


</div>
