
<div class="dashboard">
    <mat-card class="class1">
      <h1>Drivers</h1>
  
      <mat-progress-spinner color="accent" mode="determinate" value="40">
      </mat-progress-spinner>
      <button  style="margin-top: 20px;"
        mat-raised-button
        (click)="goToDriver()"
      >
        Details
      </button>
    </mat-card>
  
    <mat-card class="class1">
      <h1>Mechanics</h1>
  
      <mat-progress-spinner color="accent" mode="determinate" value="100">
      </mat-progress-spinner>
      <button style="margin-top: 20px;"
        mat-raised-button
        
        (click)="goToMechanic()"
      >
        Details
      </button>
    </mat-card>
    <mat-card class="class1">
      <h1>Sparepartshop owners</h1>
  
      <mat-progress-spinner color="accent" mode="determinate" value="70">
      </mat-progress-spinner>
      <button style="margin-top: 20px;" mat-raised-button (click)="goToSparepartShop()" >
        Details
      </button>
    </mat-card>
    <mat-card class="class1">
      <h1>Serviceparts owners</h1>
  
      <mat-progress-spinner color="accent" mode="determinate" value="80">
      </mat-progress-spinner>
      <button style="margin-top: 20px;"
        mat-raised-button
        (click)="goToServiceCenter()"
      >
        Details
      </button>
    </mat-card>
  </div>
  