<div class="dashboard">

  <mat-card class="class1">
    <h1><b>Driver</b></h1>
    <img class="class4" src="assets/img/driver.jpg" />
    <button class="class3" mat-raised-button (click)="goToDriver()">
      Details
    </button>
  </mat-card>


  <mat-card class="class1">
    <h1><b>Mechanic</b></h1>
    <img class="class4" src="assets/img/mechanic.jpg" />
    <button class="class3" mat-raised-button (click)="goToMechanic()">
      Details
    </button>
  </mat-card>


  <mat-card class="class1">
    <h1><b>Sparepart shops</b></h1>
    <img class="class4" src="assets/img/spare.jpg" />
    <button class="class3" mat-raised-button (click)="goToSparepartShop()">
      Details
    </button>
  </mat-card>


  <mat-card class="class1">
    <h1><b>Service Centers</b></h1>
    <img class="class4" src="assets/img/service.jpg" />
    <button class="class3" mat-raised-button (click)="goToServiceCenter()">
      Details
    </button>
  </mat-card>

</div>
