<div class="col class2">

  <img class="class7" src="{{driver?.image}}">
</div>
<div class="col class3">
  <mat-toolbar class="class1">
    <mat-toolbar-row><h1>{{driver?.name}} Profile</h1></mat-toolbar-row>
  </mat-toolbar>
  <mat-list>
    <div class="col class5">
      <mat-list-item>Name:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Email:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>NIC Number:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Mobile Number:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Vehical Number:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Vehical Color:</mat-list-item>
      <mat-divider></mat-divider>
    </div>
    <div class="col class6">
    <mat-list-item>{{driver?.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{driver?.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{driver?.nic}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{driver?.mobile}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{driver?.vehicleNumber}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{driver?.vehicleColor}}</mat-list-item>
    <mat-divider></mat-divider>

    </div>
  </mat-list>
  <div style="text-align: end;">
    <br><br><br>
    <button mat-raised-button  class="class8" routerLink='/driver'>Driver List</button>
  </div>

</div>
