<mat-card  style="background-color: rgb(39, 0, 0); color : #fff">
    <span>Admin Panel</span>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/dashbord">
                <mat-icon>home</mat-icon>
                <span color="#fff">Home</span>
            </button>

            <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
            </button>
        </mat-menu>
</mat-card>
<router-outlet></router-outlet>