<mat-toolbar class="class5">
    <label >Spareshop List</label>
    <input type="text" [(ngModel)]='searchText' placeholder="Search" class="class4" >
  </mat-toolbar>
  <br>
  <div class="container" text-align="center">
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th> action</th>
      </tr>
  
      <tr *ngFor="let spareshop of spareshops | spareshopFilter:searchText">
        <td style="text-align:center">{{ spareshop.id }}</td>
        <td style="text-align:center">{{ spareshop.name }}</td>
        <td style="text-align:center">{{ spareshop.email }}</td>
        <td style="text-align:center">
          <button
            mat-raised-button
            (click)="selectedSpareshop(spareshop.id)"
            class="class1"
          >
            View
          </button>
          <button
            mat-raised-button
            (click)="openDialog()"
            class="class1"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
  
  
  