<div  class="data">


  <div style="text-align: center;">
    <h2 *ngIf="!serviceCenter" style="color: rgb(39, 0, 0);">Create  Service Center</h2>
    <h2 *ngIf="serviceCenter" style="color: rgb(39, 0, 0);">Update  Service Center</h2>
</div>
<div class="form">


  <form [formGroup]="serviceCenterForm" (submit)="onSubmitServiceCenter()">
    <mat-card>

      <app-form-input
      [value]="serviceCenter?.email"
          label="Email"
          [controler]="serviceCenterForm.get('email')"
        ></app-form-input>

      <app-form-input *ngIf="!serviceCenter"
          label="Password"
          [controler]="serviceCenterForm.get('password')"
        ></app-form-input>

      <app-form-input
      [value]="serviceCenter?.name"
          label="Name"
          [controler]="serviceCenterForm.get('name')"
        ></app-form-input>


      <app-form-input
      [value]="serviceCenter?.mobile"
          label="Mobile"
          [controler]="serviceCenterForm.get('mobile')"
        ></app-form-input>

      <app-form-input
      [value]="serviceCenter?.address"
          label="Address"
          [controler]="serviceCenterForm.get('address')"
        ></app-form-input>

      <app-form-input
      [value]="serviceCenter?.openTime"
          label="Open Time"
          [controler]="serviceCenterForm.get('openTime')"
        ></app-form-input>

      <app-form-input
      [value]="serviceCenter?.closeTime"
          label="Close Time"
          [controler]="serviceCenterForm.get('closeTime')"
        ></app-form-input>


    <input type="file" #image (change)="onImageChange($event)" />
    <div *ngIf="!serviceCenter" style="text-align: start;">
      <button (click)="image.click()" mat-stroked-button type="button">
        Image
      </button>
    </div>

    <div
    class="image-preview"
    *ngIf="imagePreview != '' && imagePreview != null"
    >
    <img [src]="imagePreview" alt="image preview" />
  </div>
    <div style="text-align: end;">
      <button style="background-color: rgb(39, 0, 0);color: white;"
      mat-raised-button> Save </button>
    </div>
  </mat-card>
</form>

</div>

</div>
