<mat-toolbar class="class5">
    <label color="primary">Mechanic List</label>
    
  <input type="text" [(ngModel)]='searchText' placeholder="Search" class="class4" >
  
  </mat-toolbar>
  <br>
  
  <div class="container" text-align="center">
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>action</th>
      </tr>
  
      <tr *ngFor="let mechanic of mechanics | mechanicFilter:searchText">
        <td style="text-align:center">{{ mechanic.id }}</td>
        <td style="text-align:center">{{ mechanic.name }}</td>
        <td style="text-align:center">{{ mechanic.email }}</td>
        <td style="text-align:center">
          <button
            mat-raised-button
            (click)="selectedMechanic(mechanic.id)"
            class="class1"
          >
            View
          </button>
          <button
            mat-raised-button
            (click)="openDialog()"
            class="class1"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
 