<div class="data">
  <div style="text-align: center">
    <h2 *ngIf="!driver" style="color: rgb(39, 0, 0)">Create Driver</h2>
    <h2 *ngIf="driver" style="color: rgb(39, 0, 0)">Update Driver</h2>
  </div>

  <div class="form">
    <form [formGroup]="driverForm" (submit)="onSubmitDriverData()">
      <mat-card>
        <app-form-input *ngIf="!driver"
        [value]="driver?.email"
          label="Email"
          [controler]="driverForm.get('email')"
        ></app-form-input>

        <app-form-input *ngIf="!driver"
          label="Password"
          [controler]="driverForm.get('password')"
        ></app-form-input>

        <app-form-input *ngIf="!driver"
        [value]="driver?.userName"
          label="Name"
          [controler]="driverForm.get('name')"
        ></app-form-input>

        <app-form-input
        [value]="driver?.nic"
          label="NIC"
          [controler]="driverForm.get('nic')"
        ></app-form-input>

        <app-form-input
        [value]="driver?.mobile"
          label="MOBILE"
          [controler]="driverForm.get('mobile')"
        ></app-form-input>

        <app-form-input
        [value]="driver?.vehicleNumber"
          label="VEHICLE NUMBER"
          [controler]="driverForm.get('vehicleNumber')"
        ></app-form-input>

        <app-form-input
        [value]="driver?.vehicleColor"
          label="VEHICLE COLOUR"
          [controler]="driverForm.get('vehicleColor')"
        ></app-form-input>

        <!-- <input type="file" #image (change)="onImageChange($event)" />
        <div *ngIf="!driver" style="text-align: start">
          <button (click)="image.click()" mat-stroked-button type="button">
            Image
          </button>
        </div> -->

        <!-- <div
          class="image-preview"
          *ngIf="imagePreview != '' && imagePreview != null"
        >
          <img [src]="imagePreview" alt="image preview" />
        </div> -->

        <div style="text-align: end">
          <button *ngIf="!driver"
            style="background-color: rgb(39, 0, 0); color: white"
            mat-raised-button
          >
            Create Driver
          </button>

          <button *ngIf="driver"
            style="background-color: rgb(39, 0, 0); color: white"
            mat-raised-button
          >
            Update Driver
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</div>
